html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: black;
	font-family: "Roboto Slab", serif;
}




a{
	text-decoration: none;
}

.imglogo{
	width: 90px;
	height: 90px;
	margin: 10px;
}

.headerlist{
	position: absolute;
	display: flex;
	background-color: none;
	height: 110px;
	align-items: flex-start;
	width: 100%;
	transition: .3s linear;
	z-index: 1;
}

.headerlist.visible{
	position: fixed;
	transform: translateY(0);
}

.headerall{
	background: url('C:/Users/bogda/OneDrive/Робочий стіл/Progect 2/Img/background photo 1.jpg');
	width: 100%;
	height: 800px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	overflow: hidden;
}

}

#headerall {
    transition: background 1s ease-in-out;
}

.headerall::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
   	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
    transition: background 1s ease-in-out;
}


.headerlogo{
	height: 110px;
	width: 25%;
	display: flex;
}

.logospan{
	font-size: 35px;
	color: black;
	display: block;
}

.navbar{
	height: 110px;
	width: 78%;
	display: inline-flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;

}

.logotext{
	margin-left: 5px;
	margin-top: 8px;
	width: 300px;
	height: 110px;
	display: block;

}

.searchindex{
	width: 200px;
	font-size: 30px;
	outline: none;
	border: 2px solid black;
}

.searchindex::placeholder{
 	color: black;
}

.menubutton{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 110px;
	width: 200px;
	background: black;
	color: white;
	font-size: 40px;
	text-align: center;
	transition: .3s ease-in-out;
}

.menubutton:hover {
	background: #303039;
}

.menulist{
	position: absolute;
	width: 300px
	height: 500px;
	background: #303039;
	display: none;
	grid-template-rows: repeat(4,1fr);
	z-index: 2;
	margin-top: 110px;
}

.menuoption{
	width: 300px;
	height: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	background: #303039;
	transition: .3s ease-in-out;
	z-index: 2;
}

.menuoption:hover{
	background: black;
}

#menuoptionexit{
	display: none;
}

.pausebuttondiv{
	width: 100px;
	height: 100px;
	grid-row: 10/11;
	grid-column: 1/2;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.pausebutton{
	width: 100px;
	height: 100px;
	z-index: 1;
	background: url('C:/Users/bogda/OneDrive/Робочий стіл/Progect 2/Img/play1.png');
}

.pauseimg{
	width: 100px;
	height: 100px;
	z-index: 1;
}


.maintain{
	width: 100%;
	height: 2000px;
	background: black;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

.flyersphoto{
	height: 400px;
	transition: transform .3s ease;
}

.maintainphoto1{
	height: 600px;
	width: 540px;
	grid-column: 2/6;
	grid-row: 1/3;
	
}

.conteinerphoto{
	overflow: hidden;
	height: 400px;
	width: 533px;
}

.flyersphoto:hover{
	transform: scale(1.2);
}

.flyerstext{
	font-size: 30px;
	color: white;
}

.headertomaintain{
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.maintain1name{
	font-size: 100px;
	color: white;

}

.maintaintext1{
	grid-column: 7/12;
	grid-row: 1/3;
}

.maintainspan{
	font-size: 25px;
	color: white;
}

.maintainphoto2{
	height: 600px;
	width: 540px;
	grid-column: 8/12;
	grid-row: 4/6;
	
}

.maintaintext2{
	grid-column: 2/7;
	grid-row: 4/6;
}

.maintainphoto3{
	height: 600px;
	width: 540px;
	grid-column: 2/6;
	grid-row: 7/9;
	
}

.maintaintext3{
	grid-column: 7/12;
	grid-row: 7/9;
}

/*.cutmaintain{
	grid-row: 10/12;
	grid-column: 1/13;
	width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}*/

.spase{
	width: 100%;
	height: 100px;
	background: gray;
}

.maintain2{
	width: 100%;
	height: 2400px;
	background: gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.postcard{
	width: 450px;
	height: 550px;


}

.postcard:hover{
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
}

.imgpostcardconteiner{
	width: 450px;
	height: 450px;
	overflow: hidden;
}

.imgpostcard{
	width: 450px;
	height: 450px;
	transition: transform .3s ease;
}

.imgpostcard:hover{
	transform: scale(1.2);
}

.textpostcardconteiner{
	width: 450px;
	height: 100px;
	background: black;
}

.textpostcard{
	font-size: 70px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}







































.footer{
	margin-top: auto;
}

.footerhead{
	width: 100%;
	height: 100px;
	background: #006865;
}

.footerdiv{
	width: 100%;
	height: 500px;
	background: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.footterinfodiv1{
	grid-column: 1/2;
	grid-row: 1/4;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footerheader{
	font-size: 35px;
	color: white;
	margin-top: 30px;
}

.footera{
	font-size: 30px;
	color: gray;
	transition: color 0.5s ease, transform 0.5s ease;
    transition-delay: 0.2s;

}

.footera:hover{
	color: white;
	text-decoration: underline;
}

.footerorigin{
	margin: 30px;
	grid-column: 1/2;
	grid-row: 4/5;
	font-size: 25px;
	color: white;
}

.footterinfodiv2{
	grid-column: 2/3;
	grid-row: 1/5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footerslogon{
	margin-top: 50px;
	font-size: 70px;
	color: white;
}

.footerlogo{
	width: 150px;
	height: 150px; 
}

.footterinfodiv3{
	grid-column: 3/4;
	grid-row: 1/4;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footermediadiv{
	grid-column: 3/4;
	grid-row: 4/5;
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.photofooter{
	width: 50px;
	height: 50px;
}

#youtube{
	width: 70px;
}





/*<img class="footerlogo" src="C:\Users\bogda\OneDrive\Робочий стіл\Progect 2\Img\logo.png">*/

